<link rel="stylesheet" href="/static/css/basic.css" type="text/css" />
<link rel="stylesheet" href="/static/css/galleriffic-2.css" type="text/css" />
<script type="text/javascript" src="/static/js/jquery-1.9.1-min.js"></script>
<script type="text/javascript" src="/static/js/jquery.galleriffic.js"></script>
<script type="text/javascript" src="/static/js/jquery.opacityrollover.js"></script>
<!-- We only want the thunbnails to display when javascript is disabled -->
<script type="text/javascript">
  document.write('<style>.noscript { display: none; }</style>');
</script>
<div style="clear: both;"></div>

  <div id="galleriffic-container" style="height:400px;">
	<div id="galleriffic-gallery" class="galleriffic-content">
	  <div id="galleriffic-controls" class="galleriffic-controls"></div>
	  <div class="slideshow-container">
		<div id="loading" class="loader"></div>
		<div id="slideshow" class="slideshow"></div>
	  </div>
      <div id="caption" class="caption-container"><span class="image-caption current" style="opacity: 1;"><div class="caption">
      <div class="see large">
        <a href="/images/{{galleriffic}}/large/{{images|first}}.png">Download Original</a>
        </div>
      <div class="image-title">{{images|first}}</div>
      <div class="image-desc">{{images|first}}</div>
      </div></span></div>
	</div>
    <div id="thumbs" class="galleriffic-navigation">
      <div class="top pagination"><span class="current">1</span><a rel="history" href="#16" title="2">2</a><a rel="history" href="#16" title="Next ›">Next ›</a></div>
      <ul class="thumbs noscript">
{% for image in images %}
		<li {% if forloop.first %} {{class="selected"}} {% endif %}>
		  <a class="thumb" href="/images/{{galleriffic}}/medium/{{image}}.png" title="{{image}}" rel="history">
			<img src="/images/{{galleriffic}}/small/{{image}}.png" alt="{{image}}" />
		  </a>
		</li>
{% endfor %}
      </ul>
      <div style="clear: both;"></div>
      <div class="bottom pagination"><span class="current">1</span><a rel="history" href="#16" title="2">2</a><a rel="history" href="#16" title="Next ›">Next ›</a></div>
    </div>
  </div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
  // We only want these styles applied when javascript is enabled
  $('div.galleriffic-navigation').css({'width' : '200px', 'float' : 'left'});
  $('div.galleriffic-content').css('display', 'block');

  // Initially set opacity on thumbs and add
  // additional styling for hover effect on thumbs
  var onMouseOutOpacity = 0.67;
  $('#thumbs ul.thumbs li').opacityrollover({
  mouseOutOpacity:   onMouseOutOpacity,
  mouseOverOpacity:  1.0,
  fadeSpeed:         'fast',
  exemptionSelector: '.selected'
  });
  
  // Initialize Advanced Galleriffic Gallery
  var gallery = $('#thumbs').galleriffic({
  delay:                     2500,
  numThumbs:                 8,
  preloadAhead:              10,
  enableTopPager:            true,
  enableBottomPager:         true,
  maxPagesToShow:            7,
  imageContainerSel:         '#slideshow',
  controlsContainerSel:      '#galleriffic-controls',
  captionContainerSel:       '#caption',
  loadingContainerSel:       '#loading',
  renderSSControls:          true,
  renderNavControls:         true,
  playLinkText:              'Play Slideshow',
  pauseLinkText:             'Pause Slideshow',
  prevLinkText:              '&lsaquo; Previous Photo',
  nextLinkText:              'Next Photo &rsaquo;',
  nextPageLinkText:          'Next &rsaquo;',
  prevPageLinkText:          '&lsaquo; Prev',
  enableHistory:             false,
  autoStart:                 false,
  syncTransitions:           true,
  defaultTransitionDuration: 900,
  onSlideChange:             function(prevIndex, nextIndex) {
  // 'this' refers to the gallery, which is an extension of $('#thumbs')
  this.find('ul.thumbs').children()
  .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
  .eq(nextIndex).fadeTo('fast', 1.0);
  },
  onPageTransitionOut:       function(callback) {
  this.fadeTo('fast', 0.0, callback);
  },
  onPageTransitionIn:        function() {
  this.fadeTo('fast', 1.0);
  }
  });
  });
</script>
